<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>269095162057-hbc4ea28dtg1lh70d5ud905vis026en3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.269095162057-hbc4ea28dtg1lh70d5ud905vis026en3</string>
	<key>API_KEY</key>
	<string>AIzaSyBqc7Uj5CEXqb7I69OhqC-ATfbYZv_6EdA</string>
	<key>GCM_SENDER_ID</key>
	<string>269095162057</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nakyung.Blueming</string>
	<key>PROJECT_ID</key>
	<string>blueming-43932</string>
	<key>STORAGE_BUCKET</key>
	<string>blueming-43932.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:269095162057:ios:3c68d24a61c5ea2f40fd18</string>
</dict>
</plist>